<a id="{{triggerId}}" href="#" class="{{trigger-class-names}}">{{trigger-text}}</a>
	<div id="{{popoverContainerId}}" class="webui-popover-content">
		{{yield (action 'submit') (action "close")}}
	</div>
