{{link-to "Go Away" "away"}}
<hr/>
{{#webui-popover 
placement="right"
trigger-text="<i class='fa fa-money'></i> Foo" trigger-class-names="btn btn-default"
submit=(action "createSomething")
as |submit close|
}}
<form {{action submit on="submit"}}>
	<div>
		<label>Put a value in here</label><br/>
		{{input value=someValue}}
	</div>
	<div>
		<label>Put another value in here</label><br/>
		{{input value=someOtherValue}}
	</div>
	<button>Submit</button> or 
	<a href="#" {{action close}}>cancel</a>
</form>
{{/webui-popover}}


<div style="text-align:right">
{{#webui-popover 
trigger-text="Click Me"}}
	BAM!
{{/webui-popover}}
</div>
